{% extends "padre.html" %}

{% load static %}

{% block contenido %}
            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="card">
                                <img src="{% static 'Appasesoria/assets/img/testimonials-3.jpg' %}"/>
                                <div class="card-body">
                                    <h5 class="card-title"> Maria Laura</h5>
                                    <p class="card-text">Excelente asesoria contable</p>
                                    <a class="btn btn-danger" href="">Enviar mensaje</a>

                                </div>

                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="card">
                                <img src="{% static 'Appasesoria/assets/img/testimonials-1.jpg' %}"/>
                                <div class="card-body">
                                    <h5 class="card-title"> Maria Fernanda</h5>
                                    <p class="card-text">Atención rápida y eficiente por parte del staf contable</p>
                                    <a class="btn btn-danger" href="">Enviar mensaje</a>

                        </div>
                    </div>


                </div>
            

                        
            </main>

{% endblock %}