{% extends "padre.html" %}

{% load static %}

{% block contenido %}
            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="card">
                                <img src="{% static 'Appasesoria/assets/img/testimonials-3.jpg' %}"/>
                                <div class="card-body">
                                    <h5 class="card-title"> Florencia Gonzalez</h5>
                                    <p class="card-text">Contadora Publica</p>
                                    <a class="btn btn-danger" href="">Enviar mensaje</a>

                                </div>

                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="card">
                                <img src="{% static 'Appasesoria/assets/img/testimonials-2.jpg' %}"/>
                                <div class="card-body">
                                    <h5 class="card-title"> Francisco Lopez</h5>
                                    <p class="card-text">Contador Publico</p>
                                    <a class="btn btn-danger" href="">Enviar mensaje</a>

                        </div>
                    </div>


                </div>
            

                        
            </main>

{% endblock %}